<div id="add-to-cart-wrapper" class="add-to-cart-wrapper" {{#unless product.can_purchase}}style="display: none"{{/unless}}>
    {{#if theme_settings.show_product_quantity_box}}
        {{inject 'productQuantityErrorMessage'  (lang 'products.quantity_error_message')}}
        <div class="form-field form-field--increments">
            <label class="form-label form-label--alternate"
                   for="qty[]">{{lang 'products.quantity'}}</label>
                <div class="form-increment" data-quantity-change>
                    <button class="button button--icon" data-action="dec">
                        <span class="is-srOnly">{{lang 'products.quantity_decrease' name=product.title}}</span>
                        <i class="icon" aria-hidden="true">
                            <svg>
                                <use xlink:href="#icon-keyboard-arrow-down"/>
                            </svg>
                        </i>
                    </button>
                    <input class="form-input form-input--incrementTotal"
                           id="qty[]"
                           name="qty[]"
                           type="tel"
                           value="{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}1{{/if}}"
                           data-quantity-min="{{product.min_purchase_quantity}}"
                           data-quantity-max="{{product.max_purchase_quantity}}"
                           min="1"
                           pattern="[0-9]*"
                           aria-live="polite">
                    <button class="button button--icon" data-action="inc">
                        <span class="is-srOnly">{{lang 'products.quantity_increase' name=product.title}}</span>
                        <i class="icon" aria-hidden="true">
                            <svg>
                                <use xlink:href="#icon-keyboard-arrow-up"/>
                            </svg>
                        </i>
                    </button>
                </div>
        </div>
    {{/if}}

    <div class="alertBox productAttributes-message" style="display:none">
        <div class="alertBox-column alertBox-icon">
            <icon glyph="ic-success" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
        </div>
        <p class="alertBox-column alertBox-message"></p>
    </div>
    {{#or customer (unless settings.hide_price_from_guests)}}
       
           
                <button
                        id="form-action-addToCart"
                        data-wait-message="{{lang 'products.adding_to_cart'}}"
                        class="tw-inline-flex tw-items-center tw-rounded-md tw-border tw-border-transparent tw-bg-indigo-600 tw-px-6 tw-py-3 tw-text-base tw-font-medium tw-text-white tw-shadow-sm hover:tw-bg-indigo-700 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-indigo-500 focus:tw-ring-offset-2"
                        type="submit"
                        value=""
                > 
                <svg class="tw--ml-1 tw-mr-3 tw-h-5 tw-w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M3 4a2 2 0 00-2 2v1.161l8.441 4.221a1.25 1.25 0 001.118 0L19 7.162V6a2 2 0 00-2-2H3z" />
                    <path d="M19 8.839l-7.77 3.885a2.75 2.75 0 01-2.46 0L1 8.839V14a2 2 0 002 2h14a2 2 0 002-2V8.839z" />
                  </svg>
                {{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}{{lang 'products.add_to_cart'}}{{/if}}
                
                 
                  </button>
                <span class="product-status-message aria-description--hidden">{{lang 'products.adding_to_cart'}} {{lang 'category.add_cart_announcement'}}</span>
            
            {{#if this.with_wallet_buttons}}
                <div class="add-to-cart-wallet-buttons" data-add-to-cart-wallet-buttons>
                    {{> components/common/wallet-buttons}}
                </div>
            {{/if}}
       
    {{/or}}
</div>
